*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.myHead{
    color: white;
}
body{
    background-color: rgb(60, 177, 223);
}
.app{
    background: #fff;
    margin: 100px auto 0;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
}

.btn{
    padding: 10px;
    margin: 10px;
    width: 100%;
    text-align: left;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;

}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    margin: 20px auto 0;
    padding: 5px;
    width: 120px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
.heading{
    font-style: sans-serif;
}

#que{
    font-style: normal;
}